<div class="container mt-5">
  <h2>Inscription</h2>
  <form (submit)="onRegister()">
    <div class="form-group">
      <label for="user_id">Identifiant</label>
      <input type="text" class="form-control" [(ngModel)]="user_id" name="user_id" required>
    </div>
    <button class="btn btn-success mt-3">Créer le compte</button>
  </form>

  <div *ngIf="message" class="alert mt-3" [class.alert-success]="success" [class.alert-danger]="!success">
    {{ message }}
  </div>

  <div *ngIf="password" class="mt-3">
    <p><strong>Mot de passe généré :</strong> {{ password }}</p>
  </div>

  <div *ngIf="qrCodeBase64" class="mt-3">
    <p>Scannez ce QR code dans votre application 2FA :</p>
    <img [src]="'data:image/png;base64,' + qrCodeBase64" alt="QR Code" />
  </div>
</div>
